# generating strong passwords is recommended
# You can do so with (openssl rand -hex 48)
# modify 48 for longer chars 

MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=change-me
EPICBOX_DB_PASSWORD=change-me

EPICBOX_DOMAIN=epicbox.your-domain.com
EPICBOX_PORT=443

# Uncomment and add custom port if 8443 default is not desired
# NGINX_PORT=8443
